<div>efewfef</div>
{% schema %}
{
  "name": "sections.test.name",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "sections.test.presets.name"
    }
  ]
}
{% endschema %}
